<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PriHood - @ViewData["Title"]</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/panel/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/panel/assets/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/panel/assets/plugins/iCheck/square/blue.css">
  <link rel="stylesheet" href="/panel/assets/css/loginPage.css">
  <link rel="icon" href="favicon.png">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><img src="web/images/logo.png" class="logo-login"/></a>
  </div>
 
  @RenderBody()

</div>
<script src="/panel/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/panel/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/panel/assets/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%'
    });
  });
</script>

@RenderSection("Scripts", required: false)
</body>
</html>
