<div class="user-panel">
        <!--
          Pueden poner una imagen asi!
          60x60

        <div class="pull-left image">
          <img src="panel/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        -->
        <div class="info info-no-image">
          <p>Pato Perez</p>
          <div>pato@micorreo.com</div>
        </div>
</div>