<section class="content-header">
    <h1>
        Empleados
    </h1>
</section>

<section class="content animated fadeInUp">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Listado de Empleados</h3>
        </div>
        <div class="box-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrarEmpleado">
                        <i class="fa fa-plus"></i>
                      </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Tipo de Documento</th>
                    <th>Número Documento</th>
                    <th>Teléfono</th>
                    <th>Perfil</th>
                    <th>Email</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!empleados || empleados.length == 0">
                    <td colspan="9">
                        <p class="text-center">No existen empleados.</p>
                    </td>
                </tr>
                <tr *ngFor="let empleado of empleados">
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.fecha_nacimiento | date}}</td>
                    <td>{{empleado.tipo_documento}}</td>
                    <td>{{empleado.numero_documento}}</td>
                    <td>{{empleado.telefono}}</td>
                    <td>{{empleado.perfil}}</td>
                    <td>{{empleado.email}}</td>
                    <td>
                        <a class="btn btn-xs btn-danger" (click)="confirmacionEliminar(empleado)"><i class="fa fa-trash"></i></a>
                        <a class="btn btn-xs btn-info" data-toggle="modal" data-target="#editarEmpleado" (click)="onSelectedEmp(empleado)"><i class="fa fa-pencil"></i></a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="registrarEmpleado">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Registrar Empleado</h4>
            </div>
            <div class="modal-body">
                <form role="form" role="form" #empForm="ngForm" name="empForm" id="empForm">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Nombre</label>
                                <input type="text" class="form-control" id="firstname" name="firstName" #name="ngModel" ngControl="name" [(ngModel)]="empleado.nombre"
                                     required placeholder="Ingrese el nombre">
                                <span class="label label-danger" *ngIf="name.errors?.required && name?.touched">Campo requerido</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Apellido</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="empleado.apellido" #apellido="ngModel"
                                    digits  required placeholder="Ingrese el apellido">
                                <span class="label label-danger" *ngIf="apellido.errors?.required && apellido?.touched">Campo requerido</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipodocumento">Tipo de Documento</label>
                                <select class="form-control" id="tipoDocumento" [(ngModel)]="empleado.id_tipo_documento" name="tipoDocumento" #tipoDoc="ngModel"
                                    required>
                                <option *ngFor="let doctipo of doctipos" [ngValue]="doctipo.id" >{{doctipo.name}}</option>
                            </select>
                                <span class="label label-danger" *ngIf="tipoDoc.errors?.required && tipoDoc?.touched">Campo requerido</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nrodocumento">Documento</label>
                                <input type="text" class="form-control" id="nrodocumento" name="nrodocumento" [(ngModel)]="empleado.numero_documento" placeholder="Ingrese el número de documento"
                                    #doc="ngModel" required number>
                                <span class="label label-danger" *ngIf="doc.errors?.required&& doc?.touched">Campo requerido</span>
                                <span class="label label-danger" *ngIf="doc.errors?.number &&doc?.touched">Debe ser un numero</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="empleado.telefono" placeholder="Ingrese el número de teléfono"
                                    #tel="ngModel" phone="CN" />
                                <span class="label label-danger" *ngIf="tel.errors?.phone && tel?.touched">Teléfono erroneo</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthday">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="birthday" name="birthday" [(ngModel)]="empleado.fecha_nacimiento" #date="ngModel"
                                    required minDate="1927-01-01" maxDate="1999-12-31">
                                <span class="label label-danger" *ngIf="date.errors?.required && date?.touched"> Campo requerido </span>
                                <span class="label label-danger" *ngIf="date.errors?.maxDate && date?.touched">Debe ser mayor de edad</span>
                                <span class="label label-danger" *ngIf="date.errors?.minDate && date?.touched">Verifique el año</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthday">Perfil</label>
                                <select class="form-control" id="perfil" [(ngModel)]="empleado.id_perfil" name="perfil" #perfil=ngModel required>
                                <option *ngFor="let perfil of perfiles" [ngValue]="perfil.id">{{perfil.nombre}}</option>
                                 </select>
                                <span class="label label-danger" *ngIf="perfil.errors?.required&&perfil?.touched">Campo requerido</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="empleado.email" #field="ngModel" email placeholder="Ingrese la dirección de correo electrónico">
                                <span class="label label-danger" *ngIf="field.errors?.email && field?.touched">Mail inválido</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="empleado.password" #pass="ngModel"
                                    required minlength="5" placeholder="Ingrese la contraseña">
                                <span class="label label-danger" *ngIf="pass.errors?.required && pass?.touched">Campo requerido</span>
                                <span class="label label-danger" *ngIf="pass.errors?.minlength && pass?.touched">Debe tener al menos 5 caracteres</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Verifique Contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="empleado.confirmPassword"
                                    #confirmPass="ngModel" required [equalTo]="pass" placeholder="Verifique la contraseña">
                                <span class="label label-danger" *ngIf="confirmPass.errors?.required && confirmPass?.touched">Campo requerido</span>
                                <span class="label label-danger" *ngIf="confirmPass.errors?.equalTo && confirmPass?.touched">No coinciden contraseñas</span>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crearEmpleado(empleado, empForm)">Crear empleado</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="editarEmpleado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Empleado</h4>
            </div>
            <div class="modal-body">
                <form role="form" *ngIf="empleadoSeleccionado">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Nombre</label>
                                <input type="text" class="form-control" id="firstname" name="firstName" [(ngModel)]="empleadoSeleccionado.nombre">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Apellido</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="empleadoSeleccionado.apellido">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipodocumento">Tipo de Documento</label>
                                <select class="form-control" id="tipoDocumento" [(ngModel)]="empleadoSeleccionado.id_tipo_documento" name=tipoDocumento>
                                <option *ngFor="let doctipo of doctipos" [ngValue]="doctipo.id" >{{doctipo.name}} </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nrodocumento">Documento</label>
                                <input type="text" class="form-control" id="nrodocumento" name="nrodocumento" [(ngModel)]="empleadoSeleccionado.numero_documento">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="telefono">Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="empleadoSeleccionado.telefono">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthday">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="birthday" name="birthday" [(ngModel)]="empleadoSeleccionado.fecha_nacimiento">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthday">Perfil</label>
                                <select class="form-control" id="perfil" [(ngModel)]="empleadoSeleccionado.id_perfil" name="perfil">
                                <option *ngFor="let perfil of perfiles" [ngValue]="perfil.id">{{perfil.nombre}}</option>
                                 </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="empleadoSeleccionado.email">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="empleadoSeleccionado.password" placeholder="Dejar en blanco para no modificar">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modificarEmpleado(empleadoSeleccionado)">Modificar empleado</button>
            </div>
        </div>
    </div>
</div>