.DS_Store
obj
bin
wwwroot/scripts/site.min.js.map
wwwroot/scripts/site.min.js
node_modules
wwwroot/panel
wwwroot/web/scripts/site.min.js.map

wwwroot/web/scripts/site.min.js
wwwroot/web/css/site.min.css
npm-debug.log
npm-debug.log.*
*.orig