<section class="content-header">
    <h1>
        Publicacion: <strong>{{publicacion.titulo}}</strong>
    </h1>
</section>

<section class="content">
    <div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <span class="username">{{publicacion.perfil}}</span>
            <span class="description">{{publicacion.fecha | date: 'dd/MM/yyyy - hh:mm'}}</span>
          </div>
        </div>

        <div class="box-body">
          <p>
              {{publicacion.texto}}
          </p>
          <span class="text-muted">0 comentarios</span>
        </div>

        <div class="box-footer box-comments">

          <div class="box-comment">
            <div class="comment-text">
                  <span class="username">
                    Maria Gonzales
                    <span class="text-muted pull-right">8:03 PM Today</span>
                  </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
          </div>

        </div>
        <div class="box-footer">
          <form action="#" method="post">
              <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
          </form>
        </div>
      </div>
</section>