<section class="content-header">
    <h1>
        Expensas
    </h1>
</section>

<section class="content animated fadeInUp">
    <div class="box box-primary">
        <div class="box-body">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="search" class="form-control" [(ngModel)]="filtro" placeholder="Buscar..." />
            </div>
        </div>
    </div>
    <div class="box box-primary not-print">
        <div class="box-header with-border">
            <h3 class="box-title">Listado de residencias existentes</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Ubicacion</th>
                    <th>Expensas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!residencias ||residencias.length == 0">
                    <td colspan="5">
                        <p class="text-center">No existen residencias para este barrio.</p>
                    </td>
                </tr>
                <tr *ngFor="let residencia of residencias  | filter: filtro">
                    <td>{{residencia.nombre}}</td>
                    <td>{{residencia.ubicacion}}</td>
                    <td>
                        <a class="btn btn-xs btn-success" (click)="onSelectedRes(residencia)" data-toggle="modal" data-target="#cargarExpensas"> Cargar Expensas <i class="fa fa-plus"></i></a>
                        <a class="btn btn-xs btn-info" (click)="onSelectedRes(residencia)" data-toggle="modal" data-target="#editarResidencia"> Ver Expensas <i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="cargarExpensas">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cargar Expensas</h4>
            </div>
            <div class="modal-body">
                <form role="form" #resForm="ngForm" name="resForm" id="resForm" *ngIf="residenciaSeleccionada">
                    <div class="form-group">
                        <label for="residente">Alias</label>
                        <input [(ngModel)]="residenciaSeleccionada.nombre" disabled required name="nombre" type="text" class="form-control" id="residente">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Ubicación</label>
                        <input [(ngModel)]="residenciaSeleccionada.ubicacion" disabled name="ubicacion" type="text" class="form-control" id="direccion">
                    </div>
                </form>
                <h4>Expensas</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="monto">Monto</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input [(ngModel)]="expensa.monto" placeholder="Monto de expensa" name="monto" type="number" class="form-control" id="monto">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="mesExpensa">Mes</label>
                            </div>
                            <dp-date-picker mode='month' theme='dp-material' placeholder="Seleccione un mes" [(ngModel)]="expensa.fecha_expensa" name="fecha_expensa" id="fecha_expensa" [config]="monthPickerConfig"></dp-date-picker>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="fechaVencimiento">Fecha de Vencimiento</label>
                            </div>
                            <dp-date-picker class="form-control" theme='dp-material' placeholder="Seleccione una fecha de vencimiento" [(ngModel)]="expensa.fecha_vencimiento" name="fecha_vencimiento" id="fecha_vencimiento" [config]="datePickerConfig"></dp-date-picker>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input [(ngModel)]="expensa.pagado" type="checkbox" value="si"> Esta expensa está pagada
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="texto">Observaciones</label>
                            <textarea [(ngModel)]="expensa.observaciones" name="observaciones" rows="5" class="form-control" id="observaciones"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="archivo">Archivo</label>
                            <input (change)="onChangeFile($event)" name="file" type="file" class="form-control" id="file">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarExpensa(expensa, file)">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>