@{
    ViewData["Title"] = "Inicio";
}

<!-- FEATURES BEGIN -->
<section id="caracteristicas" class="img-block-3col">
    <div class="container">
        <div class="title">
            <h2>Caracteristicas</h2>
            <p>PriHood es una <b>aplicación móvil</b> que permite cubrir todas las necesidades de un <b>barrio privado</b> de manera simple y cómoda</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <ul class="item-list-right item-list-big">
                    <li class="wow fadeInLeft">
                        <h3>Gestión de visitas</h3>
                        <p>Registra tus visitas para facilitar el ingreso de las mismas al barrio</p>
                    </li>
                    <li class="wow fadeInLeft">
                        <h3>Carpooling</h3>
                        <p>Comparte los viajes en automóvil con los vecinos de tu barrio</p>
                    </li>
                    <li class="wow fadeInLeft">
                        <h3>Amenities </h3>
                        <p>Reserva turnos en los espacios comunes disponibles en tu barrio</p>
                    </li>                    
                    <li class="wow fadeInLeft">
                        <h3>Expensas </h3>
                        <p>Consulta las expensas mensuales y descarga el formulario de pago</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-sm-push-4">
                <ul class="item-list-left item-list-big">
                    <li class="wow fadeInRight">
                        <h3>Alertas</h3>
                        <p>Comunica situaciones de urgencia o sospecha para mantenerte seguro.</p>
                    </li>
                    <li class="wow fadeInRight">
                        <h3>Comunicación</h3>
                        <p>Descubrí las últimas novedades. Comunícate con la administración</p>
                    </li>
                    <li class="wow fadeInRight">
                        <h3>Proveedores</h3>
                        <p>Consulta proveedores de confianza y califica su servicio</p>
                    </li>
                    <li class="wow fadeInRight">
                        <h3>Eventos</h3>
                        <p>Consulta eventos del barrio. Fortalece intereses comunes con tus vecinos</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-sm-pull-4">
                <div class="animation-box wow bounceIn">
                    <img class="highlight-left wow" src="web/images/light.png" height="192" width="48" alt="" />
                    <img class="highlight-right wow" src="web/images/light.png" height="192" width="48" alt="" />
                    <img class="screen" src="web/images/features_screen.png" alt="" height="581" width="300" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FEATURES END --> 

	<!-- SCREENSHOTS BEGIN -->
	<section id="screenshots" class="bg-color2">
		<div class="container-fluid wow fadeIn">
			<h2>PriHood Móvil</h2>
			<div id="screenshots-slider" class="owl-carousel">
				<a class="item" href="web/images/screenshots/screen1.png"><img src="web/images/screenshots/screen1.png" alt="screen1" width="250" height="444" /></a>
				<a class="item" href="web/images/screenshots/screen2.png"><img src="web/images/screenshots/screen2.png" alt="screen1" width="250" height="444"/></a>
				<a class="item" href="web/images/screenshots/screen3.png"><img src="web/images/screenshots/screen3.png" alt="screen1" width="250" height="444"/></a>
				<a class="item" href="web/images/screenshots/screen4.png"><img src="web/images/screenshots/screen4.png" alt="screen1" width="250" height="444"/></a>
				<a class="item" href="web/images/screenshots/screen5.png"><img src="web/images/screenshots/screen5.png" alt="screen1" width="250" height="444"/></a>
				<a class="item" href="web/images/screenshots/screen6.png"><img src="web/images/screenshots/screen6.png" alt="screen1" width="250" height="444"/></a>
				<a class="item" href="web/images/screenshots/screen7.png"><img src="web/images/screenshots/screen7.png" alt="screen1" width="250" height="444"/></a>
			</div>
		</div>
	</section>
	<!-- SCREENSHOTS END -->

    
