/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/ng-bootstrap-to-bootstrap-3/dist/ng-bootstrap-to-bootstrap-3.min.css');

.tooltip {
  opacity: 1;
}

jaspero-confirmation .primary {
    background-color: #003777!important;
}

dp-date-picker.dp-material .dp-picker-input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}