<section class="content-header">
    <h1>
        Residencias
    </h1>
</section>

<section class="content">
     <div class="row">
        <button type="button" data-toggle="modal" data-target="#registrarResidencia" class="btn btn-default">
            Registrar nueva residencia
        </button>
    </div>
    
    <div class="box-header with-border">
        <h3 class="box-tittle"> Listado de Residencias</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alias</th>
                <th>Ubicacion</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr *ngIf="!usuarios || usuarios.length == 0">
                <td colspan="4">
                    <p class="text-center">No existen usuarios.</p>
                </td>
            </tr>
            <tr *ngFor="let usuario of usuarios">
                <td>{{residencia.id}}</td>
                <td>{{residencia.alias}}</td>
                <td>{{residencia.ubicacion}}</td>
                <td>-->
            <tr>
                <td>1</td>
                <td>Los Caballero</td>
                <td>Manzana 1, Lote 1</td>
                <td>

                    <a class="btn btn-xs btn-primary" [routerLink]="['/residencias', residencia.id]"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="btn btn-xs btn-danger" (click)="borrarResidencia(residencia)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
   
</section>


<!-- Registrar Residencia -->
<div class="modal fade" tabindex="-1" role="dialog" id="registrarResidencia">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Registrar Residencia</h4>
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idResidencia">Número Residencia</label>
                                <input type="text" class="form-control" id="idResidencia" placeholder="Ingrese el número de residencia">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" id="direccion" placeholder="Ingrese la dirección de la residencia">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="residente">Residente Encargado</label>
                                <input type="text" class="form-control" id="residente" placeholder="Ingrese el residente">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>