<section class="content-header">
    <h1>
        Residencias para <em>{{barrio.nombre}}</em>
    </h1>
</section>

<section class="content">
    <div class="box box-primary not-print">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Alias</th>
                    <th>Ubicacion</th>
                    <th>Código de acceso</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!residencias ||residencias.length == 0">
                    <td colspan="5">
                        <p class="text-center">No existen residencias para este barrio.</p>
                    </td>
                </tr>
                <tr *ngFor="let residencia of residencias">
                    <td>{{residencia.id}}</td>
                    <td>{{residencia.nombre}}</td>
                    <td>{{residencia.ubicacion}}</td>
                    <td>{{residencia.codigo}}</td>
                    <td>
                        <a class="btn btn-xs btn-danger" (click)="borrarResidencia(residencia)"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="box-body">
            <button type="button" data-toggle="modal" data-target="#registrarResidencia" class="btn btn-primary">Agregar nueva residencia</button>
            <button type="button" (click)="imprimirListado()" class="btn btn-default">Imprimir listado</button>
        </div>
    </div>

    <div class="print">
        <div class="card-residencia clearfix" *ngFor="let residencia of residencias">
            <div class="pull-right">
                <qr-code [value]="residencia.codigo" [size]="150"></qr-code>
                <img src="/web/images/logo_dark.png" class="logo" />
            </div>
            <h2>{{barrio.nombre}}</h2>
            <h3>{{residencia.nombre}}</h3>
            <h4>{{residencia.ubicacion}}</h4>
            <p>
                <strong>Codigo:</strong> {{residencia.codigo}}
            </p>
            <p>
                Para comenzar a disfrutar introduce este código o escanea el QR.
            </p>

            <p class="info">Todo lo que necesitas para tu barrio en un solo lugar</p>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="registrarResidencia">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Registrar Residencia</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="residente">Alias</label>
                        <input [(ngModel)]="residencia.nombre" name="nombre" type="text" class="form-control" id="residente" placeholder="Ingrese el alias de la residencia">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Ubicación</label>
                        <input [(ngModel)]="residencia.ubicacion" name="ubicacion" type="text" class="form-control" id="direccion" placeholder="Ingrese la dirección de la residencia">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarResidencia(residencia)">Registrar residencia</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>