<section class="content-header">
    <h1>
        Residencias
    </h1>
</section>

<section class="content animated fadeInUp">
    <div class="box box-primary not-print">
        <div class="overlay" *ngIf="cargando">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">Listado de residencias</h3>
        </div>
        <div class="box-body">
            <button type="button" data-toggle="modal" data-target="#registrarResidencia" class="btn btn-primary">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" (click)="imprimirListado()" class="btn btn-default">
                <i class="fa fa-print"></i>
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Ubicacion</th>
                    <th>Código de acceso</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!residencias ||residencias.length == 0">
                    <td colspan="5">
                        <p class="text-center">No existen residencias para este barrio.</p>
                    </td>
                </tr>
                <tr *ngFor="let residencia of residencias | paginate: { id:'foo', itemsPerPage: 15, currentPage: p }">
                    <td>{{residencia.nombre}}</td>
                    <td>{{residencia.ubicacion}}</td>
                    <td>{{residencia.codigo}}</td>
                    <td>
                        <a class="btn btn-xs btn-danger" (click)="confirmacionEliminar(residencia)">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a class="btn btn-xs btn-info" (click)="onSelectedRes(residencia)" data-toggle="modal" data-target="#editarResidencia">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls autoHide="true" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
    </div>

    <div class="print">
        <div class="card-residencia clearfix" *ngFor="let residencia of residencias | paginate: { itemsPerPage: 1, currentPage: p }">
            <div class='info-prihood'>
                <img src="/web/images/logo_dark.png" class="logo" />
                <p class="slogan">Elegiste calidad de vida. Elegiste PriHood
                    <br>
                    <span class="instrucciones">Para comenzar a disfrutar introduce este código o escanea el QR</span>
                </p>
            </div>
            <div class="pull-right">
                <qr-code [value]="residencia.codigo" [size]="100"></qr-code>
            </div>
            <h4>{{residencia.nombre}}</h4>
            <h6>{{residencia.ubicacion}}</h6>
            <h3>Código:
                <span class="codigo-residencia">{{residencia.codigo}}</span>
            </h3>

        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="registrarResidencia">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="overlay" *ngIf="cargando">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Registrar Residencia</h4>
            </div>
            <div class="modal-body">
                <form role="form" #resForm="ngForm" name="resForm" id="resForm">
                    <div class="form-group">
                        <label for="residente">Alias</label>
                        <input title="Se necesita un alias" [(ngModel)]="residencia.nombre" name="nombre" #nombre=ngModel type="text" class="form-control"
                            id="residente" #nombre="ngModel" required placeholder="Ingrese el alias de la residencia">
                        <span class="label label-danger" *ngIf="nombre.errors?.required&&nombre?.touched">Campo requerido</span>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Ubicación</label>
                        <input [(ngModel)]="residencia.ubicacion" name="ubicacion" type="text" class="form-control" #ubicacion=ngModel id="direccion"
                            required placeholder="Ingrese la ubicacion de la residencia">
                        <span class="label label-danger" *ngIf="ubicacion.errors?.required&&ubicacion?.touched">Campo requerido</span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregarResidencia(residencia, resForm)">Registrar residencia</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="editarResidencia">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="overlay" *ngIf="cargando">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modificar Residencia</h4>
            </div>
            <div class="modal-body">
                <form role="form" #resForm="ngForm" name="resForm" #resForm=ngModel id="resForm" *ngIf="residenciaSeleccionada">
                    <div class="form-group">
                        <label for="residente">Alias</label>
                        <input [(ngModel)]="residenciaSeleccionada.nombre" name="nombre" type="text" class="form-control" id="residente" #nombre="ngModel"
                            required placeholder="Ingrese el alias de la residencia">
                        <span class="label label-danger" *ngIf="nombre.errors?.required&&nombre?.touched">Campo requerido</span>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Ubicación</label>
                        <input [(ngModel)]="residenciaSeleccionada.ubicacion" name="ubicacion" #ubicacion=ngModel type="text" class="form-control"
                            id="direccion" #ubicacion="ngModel" required placeholder="Ingrese la ubicacion de la residencia">
                        <span class="label label-danger" *ngIf="ubicacion.errors?.required&&ubicacion?.touched">Campo requerido</span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modificarResidencia(residenciaSeleccionada)">Modificar residencia</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>