<section class="content-header">
    <h1>
        Visitas
    </h1>
</section>


<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" id="filtro" name="filtro" [(ngModel)]="filtro" placeholder="Ingrese su búsqueda">
        </div>
    </div>
</div>

    <section class="content">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Listado de visitas</h3>
            </div>
            <table class="table" id="tablaBarrios">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Patente</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!visitas ||visitas.length == 0">
                        <td colspan="4">
                            <p class="text-center">No existen visitas.</p>
                        </td>
                    </tr>
                    <tr *ngFor="let visita of visitas | filter : filtro">
                        <td>{{visita.nombre}}</td>
                        <td>{{visita.apellido}}</td>
                        <td>{{visita.id_tipo_documento}}</td>
                        <td>{{visita.patente}}</td>
                        <td>{{visita.telefono}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>