<form role="form">
  
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="idResidencia">Número Residencia</label>
                    <input type="text" class="form-control" id="idResidencia" placeholder="Ingrese el número de residencia">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Ingrese la dirección de la residencia">
                  </div>
                </div>
               <div class="row">
                </div> 
            </div>  
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="residente">Residente Encargado</label>
                    <input type="text" class="form-control" id="residente" placeholder="Ingrese el residente">
                  </div>
                </div>  
             </div>  
            </div>  

</form>  