<form role="form">
           
        
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">Nombre</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Ingrese el nombre">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastname">Apellido</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Ingrese el apellido">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tipodocumento">Tipo de Documento</label>
                    <select class="form-control" id="tipodocumento">
                      @foreach (var TipoDocumento in (string[])ViewData["TiposDocumento"])
                        {
                          <option>@TipoDocumento</option>
                        }
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nrodocumento">Documento</label>
                    <input type="text" class="form-control" id="nrodocumento" placeholder="Ingrese el número de documento">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="username" placeholder="Ingrese el nombre de usuario">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Ingrese el número de teléfono">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingrese la dirección de correo electrónico">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                 <div class="form-group">
                    <label for="birthday">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="birthday">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="profile">Perfil</label>
                    <select class="form-control" id="profile">
                      @foreach (var Perfil in (string[])ViewData["Perfiles"])
                        {
                          <option>@Perfil</option>
                        }
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                 <div class="form-group">
                    <label for="admissiondate">Fecha de Ingreso</label>
                    <input type="date" class="form-control" id="admissiondate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="residence">Residencia</label>
                    <select class="form-control" id="residence">
                      @foreach (var Residencia in (string[])ViewData["Residencias"])
                        {
                          <option>@Residencia</option>
                        }
                    </select>
                  </div>
                </div>
              </div>
            
          
           
          </form>