<form role="form">
  
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="idResidencia">Numero Residencia</label>
                    <input type="text" class="form-control" id="idResidencia" placeholder="Ingrese el numero de residencia">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Ingrese la direccion">
                  </div>
<<<<<<< HEAD
                </div>
               <div class="row">
=======
                </div> 
            </div>  
            <div class="row">
>>>>>>> 7a1e601c736ec2b330f97adf3df1ac40cb8d407f
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="residente">Residente Encargado</label>
                    <input type="text" class="form-control" id="residente" placeholder="Ingrese el residente">
                  </div>
                </div>  
             </div>  
<<<<<<< HEAD
            </div>  
=======
>>>>>>> 7a1e601c736ec2b330f97adf3df1ac40cb8d407f
</form>  