<form role="form">
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Modificar Barrio</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Ingrese el nombre del barrio">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="ubication">Ubicación</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Ingrese la ubicación del barrio">
                  </div>
                </div>
              </div>
            </div>
            </div>
          </form>