@{
    ViewData["Title"] = "Inicio";
    Layout = "_PanelLayout";
}

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Nombre de la pagina
      <small>Descripcion opcional</small>
    </h1>

    <!-- Esta es la ruta, es muuuuuy opcional.. sacar si molesta -->
    <ol class="breadcrumb">
      <li>Inicio</li>
      <li>Ruta 2</li>
      <li>Ruta 3</li>
      <li class="active">Estoy aca!</li>
    </ol>
  </section>

  <section class="content">

    <!-- ACA VA EL CONTENIDO -->
  </section>
</div>