@{ 
  ViewData["Title"] = "Comunicaciones"; 
  Layout = "_PanelLayout";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Comunicación con <strong>Gabriela Caballero</strong>
        </h1>
        <ol class="breadcrumb">
            <li>Inicio</li>
            <li>La Lucinda II</li>
            <li>Comunicaciones</li>
            <li class="active">Ver comunicación</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <div class="mailbox-read-info">
                            <span class="mailbox-read-time pull-right">15 Feb. 2016 11:03 PM</span>
                            <h3>Problema con la calle que llega a las canchas</h3>
                        </div>

                        <div class="mailbox-read-message">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam mollitia culpa amet, illo quis, iste?
                            </p>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam est fugiat dignissimos deserunt ipsam commodi consequuntur. Ea vel laudantium obcaecati quibusdam culpa sint voluptates itaque odit, eveniet tempore fugit possimus.
                            </p>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, vel.
                            </p>
                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <ul class="mailbox-attachments clearfix">
                            <li>
                                <span class="mailbox-attachment-icon"><i class="fa fa-file"></i></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> imagen001.jpg</a>
                                    <span class="mailbox-attachment-size">
                                      1,245 KB
                                      <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-footer -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Responder</button>
                            <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Borrar</button>
                            <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>