<img src='/web/images/barrio_privado.png' class='imagen-fondo-barrio' />

<!--<section class="content-header">
</section>
<section class="content">

        <header id="full-intro" class="intro-block bg-color-grad">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <a asp-action="index" asp-controller="Panel" class="logo">
                     <h1 class="logo-lg"><b>Pri</b>Hood</h1>
                    </a>
                    <h1 class="slogan"><i>"Todo en un solo lugar"<br></i><span class="type"></span></h1>
                </div>
            </div>
        </div>
        <div class="block-bg" data-stellar-ratio="0.4"></div>
    </header>
</section>-->